---

- set_fact:
    testPassed: false


- name: "Start check of group {{ name }}"
  stat:
    path: "{{ path }}"
  register: st

- debug:
    var: st
  when: "{{debug==true}}"

- include: test_present.yml
  when:
    - "{{ expected == 'present' }}"

- include: test_absent.yml
  when:
    - "{{ expected == 'absent' }}"

- debug:
    var: testPassed
  when: "{{debug==true}}"

- debug:
    msg: "TEST_FAILED: group {{ name }} expected {{ expected }} "
  when:
    - testPassed == false

- debug:
    msg: "TEST_PASSED: group {{ name }} expected {{ expected }} "
  when:
    - testPassed == true

